.whole-page {
  display: grid;
  grid-template-columns: 2fr 3fr;
  height: 87.25vh;
}

.image-container {
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

/* .strawberry {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.page-configure {
  flex: 3; 
  height: 100%;
  /* padding: 10px;  */
}


.page-configure-top{
  background-color: #f1b6ac;
  /* border-radius: 0 0 5% 5%; */
}
.page-configure-top h1{
  font-size: 40px;
  width:fit-content;
  margin: 0 auto;
  padding: 50px 0;
  color: white;
}



.page-configure-inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-configure-inputDiv{
  display: flex;
  flex-direction: row;
  margin: 40px 0;
}
.page-configure-inputDiv h2{
 font-size: 20px;
 white-space: nowrap;
 margin: 0;
}

.page-configure-inputDiv input{
  font-size: 20px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  width: 100px;
  margin-left: 30px;

 }