.databar{
  padding-top: 10px;
  color: #e57865;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.databar-top, .databar-bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.databar-top {
  margin-top: 30px;
}
.databar-bottom{
  margin-top: 50px;
  align-self: center;

}
.databar-data{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* color: #c99187; */
  color: white;
}
.databar-data h2{
  font-size: 30px;
  margin: 10px 0px;
  color: #e57865;
}
.databar-data h3{
  font-size: 15px;
  margin: 5px 0;
  color: #e57865;
}

.databar-button{
  margin-bottom: 20px;
  padding: 10px 20px;
  opacity: 0.7;
  /* border: none; */
  background-color: #f1b6ac;
  border-radius: 10px;
}