button{
  background-color: transparent;
  border: none;
  font-size: 30px;
  padding: 10px 10px;
}

.page-home{
  /* width: 100vw; */
  min-height: 100vh;
}

.page-home-top{
  background-color: var(--primary);
  color: var(--primary-letter);
  padding: 0px;
  border-radius: 0 0 5% 5%;
}
.page-home-top button{
  color: var(--primary-letter);
  border: 1px solid var(--primary-letter);
}

.datechanger{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 70px;
}

.page-home-mealbars{
  padding: 30px 60px;
}

.page-home-configure{
  position: absolute;
  top: 15px;
  right: 25px;
}
.page-home-configure button{
  /* font-size: 50px; */
  color: white;
  transition: 0.2s all linear;
}
/* .page-home-configure button:hover{
  transform: rotate(30deg);
} */
.page-home-configure button:focus{
  border: none;
  outline: none;
}

.left {
  margin-left: 10px;
}

.right {
  margin-top: -15px;
}