button{
  background-color: transparent;
  border: none;
  font-size: 30px;
<<<<<<< HEAD
}

.page-home{
  width: 100vw;
=======
  padding: 10px 10px;
}

.page-home{
  /* width: 100vw; */
>>>>>>> 7f5d0222a07d47dd726706267429f10b4feb0343
  min-height: 100vh;
}

.page-home-top{
  background-color: var(--primary);
  color: var(--primary-letter);
<<<<<<< HEAD
  padding: 15px;
=======
  padding: 0px;
>>>>>>> 7f5d0222a07d47dd726706267429f10b4feb0343
  border-radius: 0 0 5% 5%;
}
.page-home-top button{
  color: var(--primary-letter);
  border: 1px solid var(--primary-letter);
}

.datechanger{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 70px;
}

.page-home-mealbars{
<<<<<<< HEAD
  padding: 50px 60px;
=======
  padding: 30px 60px;
>>>>>>> 7f5d0222a07d47dd726706267429f10b4feb0343
}

.page-home-configure{
  position: absolute;
<<<<<<< HEAD
  top: 0;
  right: 50px;
}
.page-home-configure button{
  font-size: 80px;
=======
  top: -2px;
  right: 25px;
}
.page-home-configure button{
  /* font-size: 50px; */
>>>>>>> 7f5d0222a07d47dd726706267429f10b4feb0343
  color: white;
  transition: 0.2s all linear;
}
.page-home-configure button:hover{
  transform: rotate(30deg);
}
.page-home-configure button:focus{
  border: none;
  outline: none;
<<<<<<< HEAD
=======
}

.left {
  margin-left: 10px;
}

.right {
  margin-top: -15px;
>>>>>>> 7f5d0222a07d47dd726706267429f10b4feb0343
}