.mealbar{
  box-shadow: 8px 8px rgb(235, 235, 235);
  border: 2px solid rgb(216, 216, 216);
  /* padding: 10px 5px; */
  margin: 10px 0px;
  /* transition: 0.1s all linear; */
  max-width: 50vw;
}
.mealbar:hover{
  box-shadow: 4px 4px var(--light-gray);
  transform: translate(4px,4px);
}

.custom-container {
  background-color: #ffddd6;
}

/* .mealbar-top {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  margin-left: 10px;
} */
.mealbar-emoji{
  font-size: 50px;
  /* margin: 0 10px 0 0; */
}
.mealbar-text{
  /* margin-left: 40px; */
  /* min-width: 60vw; */
  /* justify-content: center; */
  align-items: center;
  display: flex;
  color: black;
}
.mealbar-text h2{
  font-size: 20px;
  margin: 0;
  color: black;
  opacity: 0.6;
  font-weight: bold;
}
/* .mealbar-text h3{
  color: var(--black);
  margin: 10px 0 0 0;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
  font-size: 20px;
} */

.mealbar-button{
  /* position:absolute; */
  /* background-color: var(--light-gray); */
  background-color: transparent;
  border-radius: 50%;
  padding: 0px;
  font-size: 30px;
  right: 40px;
  top: 50%;
  /* transition: 0.1s all linear; */
  padding: 0;
  margin: 0;
}
.mealbar-button button:hover{
  background-color: var(--gray);
}

.mealbar-bottom{
  display: flex;
  align-items: center;
}
.mealbar-bottom h2{
  margin: 0;
  font-size: 20px;
  color: black;
  opacity: 0.6;
}