.page-meal{
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.page-meal-top{
  background-color: var(--primary);
  color: white;
  padding: 30px;
  border-radius: 0 0 5% 5%;
  width: 100%;
}

.page-meal-progress{
  margin: 0 auto;
  width: fit-content;
}

.page-meal-top h2{
  font-size: 30px;
  color: #e57865;
  text-transform: capitalize;
}
.page-meal-top h3{
  font-size: 20px;
  color: #e57865;
}

.page-meal-search-link{
  width: 100%;
  display:flex;
  justify-content: center;
}


.page-meal-datalist{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.page-meal-foodlist{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

