/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&family=Roboto&display=swap');


:root {
  --primary: #FFDDD6;
  --primary-dark: rgb(131, 168, 131);
  --primary-letter: black;
  /* --light-gray: rgb(235, 235, 235);
  --gray: rgb(216, 216, 216); */
  /* --black: rgb(100, 100, 100);
  
  --btn-col: #F2B6AD; */
  --light: #FFDDD6;
  --dark-pink: #f1b6ac;
  --lightest: #fde9ea;

  --seasalt: #F7F9F9ff;
  --pistachio: #ABCE86ff;
  --platinum: #EAE9E7ff;
  --melon: #F6AB92ff;
  --coffee: #734E3Dff;
  --asparagus: #789B5Bff;
  --redwood: #AB4D3Eff;
}


* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /*font-weight: 200; */
}


 a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.btn:hover { 
  opacity: 1; 
  background-color: #f1b6ac; 
} 

.App {
  width: 100%;
}

/* Container {
  width: 100%;
} */

.custom-header {
  font-family: 'Outfit', sans-serif;
  text-transform: uppercase;
  /* font-size: 24px;
  font-weight: bold; */
}

body {
  scroll-behavior: auto;
}